.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh);
    background: rgb(160, 210, 240);
}

.post-body {
    margin-top: calc(5vh);
    width: calc(50%);
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: calc(1.5vw);
}

.body {
    margin-top: calc(3vh);
}

.create-button {
    margin-top: calc(5vh);
    display: flex;
    justify-content: center;
}