.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh);
    background-color: rgb(21, 32, 43);
}

.title-create, .body-create {
    color: white;
    font-size: calc(1.2vw);
}

.title-create {
    margin-top: calc(5vh);
}

.post-body {
    width: calc(40%);
    min-height: calc(100vh);
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: calc(1.5vw);
}

.body-create {
    margin-top: calc(3vh);
}

.create-button {
    margin-top: calc(5vh);
    display: flex;
    justify-content: center;
}

/* The error message design */
.error-div {
    position: absolute;
    right: calc(8vw);
    top: calc(15vh);
    background-color: rgb(223, 66, 66);
    border-radius: calc(1rem);
    padding: calc(1vh);
    transition: ease-in 0.3s;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.error-div h1 {
    font-size: calc(1.2vw);
}

@media screen and (max-width: 768px) {
    .post-body {
        width: calc(100%);
        min-height: calc(100vh);
        border: none;
    }

    .post .form-label {
        font-size: calc(4vw) !important;
    }

    .return-button {
        position: absolute;
        bottom: calc(1vh);
        left: calc(1vw);
        border: none;
        border-left: none;
        background-color: transparent;
        color: white;
        padding: calc(3vw);
        border-radius: calc(2vw);
    }
}