/* Styling for the favorite icon */

.favorite-icon {
    position: absolute;
    right: calc(0.2vw);
    cursor: pointer;
}

/* Display for the likes counter */
.display-likes {
    position: absolute;
    right: calc(1.9vw);
    top: calc(-0.4vh);
    text-align: right;
    min-width: calc(3vw);
    width: auto;
    font-size: calc(1.2vw);
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .display-likes {
        right: calc(8vw);
        top: calc(0vh);
        font-size: calc(5vw);
    }
}