.Login {
    text-align: center;
    background-color: rgb(21, 32, 43);
    height: auto;
    height: calc(100vh);
  }

  .login-form {
    padding-top: calc(15vh);
    width: calc(100%);
    display: flex;
    justify-content: center;
  }

  .login-form .container {
    width: 50%;
    border: calc(2px) solid rgb(255, 255, 255);
    background-color: rgb(247, 247, 247);
    border-radius: calc(2rem);
    padding: calc(3vw);
    box-shadow: calc(4px) calc(4px) calc(10px) black;
  }

  .form-group div {
    width: 100%;
    text-align: left;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .forgot-password, .user-register, .user-login {
    margin-top: calc(0.7vh);
    text-align: left;
    font-size: calc(.75vw);
    padding-bottom: calc(2rem);
  }

  .user-login {
    text-align: right;
  }

  .forgot-password-btn, .user-register-btn, .user-login-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;  
  }

  .forgot-password-btn:hover, .user-register-btn:hover, .user-login-btn:hover {
    color: rgb(111, 113, 114);  
  }

  /* Displaying the error message */
  .error-display {
    position: absolute;
    bottom: calc(50vh);
    right: calc(26vw);
    width: calc(12vw);
    background-color: rgb(194, 69, 69);
    color: white;
  }
  .error-display p {
    font-size: calc(1.2vw);
  }