/*
    STYLING FOR NAVIGATION.JS IN THE COMPONENTS FOLDER
 */

 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

 .navigation {
    width: 100%;
    display: flex;
}

.navbar {
    background-image: linear-gradient(0, rgb(38, 119, 196), 0, rgb(38, 119, 196));
}

.nav-link {
    font-family: 'Lato', sans-serif;
    margin-bottom: calc(0.5vh);
    color: white !important;
    z-index: 1 !important;
    font-size: calc(1.1vw) !important;
}

.nav-link:hover {
    background-color: rgb(21, 97, 160) !important;
    border-radius: calc(2rem);
}

.nav-link.active {
    color: white !important;
    background-color: rgb(21, 97, 160) !important;
    border-radius: calc(2rem);
}

.navigation-links {
    width: 100%;
    display: flex;
}

/* 
    END OF STYLING FOR NAVIGATION.JS
 */
