.node-container {
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    padding-top: calc(1vh);
    padding-bottom: calc(1vh);
}

/* The profile icon and Name of the user */
.information {
    display: flex;
    flex-direction: row;
}

.information h2 {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.2vw);
    margin-top: calc(1vh);
    margin-left: calc(-0.5vw);
    color: white;
}

/* The display of the user's bio in the Node */
.bio {
    width: calc(70%);
    margin-left: calc(2.8vw);
}

.bio h4 {
    font-family: 'Merriweather', serif;
    font-size: calc(0.9vw);
    color: white;
}

/* The 'followed' button */

.followed-button-node {
    font-family: 'Lato, san-serif';
    color: white;
    border-radius: calc(6px);
    border: none;
    background: rgb(0, 123, 255);
    height: calc(4vh);
    width: calc(6.8vw);
    font-size: calc(1.1vw);
    text-align: center;
    transition: 0.2s;
    position: absolute;
    top: calc(2.5vh);
    right: calc(1vw);
    z-index: 2;
}

/* The 'follow' button */
.follow-button-node {
    color: rgb(0, 123, 255);;
    border-radius: calc(6px);
    border: none;
    background: white;
    height: calc(4vh);
    width: calc(6vw);
    font-size: calc(1rem);
    text-align: center;
    transition: 0.2s;
    position: absolute;
    top: calc(2.5vh);
    right: calc(1vw);
    transition: 0.2s;  
    z-index: 2; 
}

.follow-button-node:hover {
    background: rgb(0, 123, 255);
    color: white;
    transition: 0.2s;
}

.follow-button-node:hover > .plus-icon {
    color: white;
    transition: 0.2s;
}

