.postpage {
    width: 100%;
    height: auto;
    min-height: calc(100vh);
    background-color: rgb(21, 32, 43);
}

.post-container {
    display: flex;
    flex-direction: row;
}

.post-section {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-style {
    width: calc(40%);
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    height: auto;
    min-height: calc(100vh);
    height: auto;
    display: flex;
    flex-direction: column;   
}

/* Styling for the header at the top for the post */
.user-information-post {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: calc(0.5vw);
    margin-top: calc(0.3vh);
    color: white;
}

.userinfo-name {
    font-family: 'Lato', sans-serif;
    font-size: calc(2.5vh) !important;
    margin-top: calc(1.8vh);
    color: white;
}

/* Styling for the favicon */
.fav-icon {
    position: absolute;
    right: 0;
    top: calc(0.4vh);
}

/* Styling for the post title */

.post-title {
    margin-left: calc(10%);
    margin-right: calc(10%);
    margin-top: calc(4vh);
    text-align: center;
    max-width: calc(100%);
    margin-bottom: calc(-2vh);
}

.post-title h1 {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.3vw);
    color: white;
}

hr {
    width: 85%;
    background-color: white;
}

/* Styling for the paragraph below */
.post-paragraph {
    margin-left: calc(4vw);
    margin-right: calc(4vw);
    margin-top: calc(1vh);
}

.post-paragraph h1 {
    font-family: 'Merriweather', serif;
    line-height: calc(1.8vw);
    font-size: calc(1vw);
    color: white;
}

/* Styling for the comment section */
.comment-section {
    position: absolute;
    right: calc(4vw);
    top: calc(1vh);
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    border-radius: calc(1rem);
    height: calc(90vh);
    margin-top: calc(1.5vh);
    width: calc(20%);
    margin-left: calc(3vw);
    overflow-y: auto;
}

.comment-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.comment-header h1 {
    margin-top: calc(1vh);
    font-size: calc(1.5vw);
}

.comment-header hr {
    width: calc(70%);
    margin-top: calc(-0.3vh);
}

.comment-box .btn {
    margin-left: calc(14.2vw) !important;
}

/* The tile for the comment */
.comment-tile {
    border-bottom: 1px solid white;
    border-radius: calc(0vw);
    margin-right: calc(0.5rem);
    margin-left: calc(0.5rem);
    margin-bottom: calc(0.5rem);
    color: white;
}

.comment-header {
    font-family: 'Lato', sans-serif;
    color: white;
}

.comment-tile h1 {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.2vw);
    margin-left: calc(0.3vw);
    color: rgb(16, 131, 177);
}

.comment-tile p {
    font-family: 'Merriweather', serif;
    font-size: calc(0.8vw);
    color: white;
    margin-left: calc(0.7vw);
}

.create-section {
    position: absolute;
    left: calc(18vw);
    top: calc(9vh);
    padding: calc(0.2vw);
    border-radius: calc(0.7vw);
    transition: 0.3s;
}
