.profile {
    background-color: rgb(245, 245, 245);
    min-height: calc(100vh);
    height: auto;
}

.profile-layout {
    width: 100%;
    height: auto;
    min-height: calc(100vh);
    display: flex;
    justify-content: center;
}

.border-line-profile {
    width: calc(50%);
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* Styling for the header background */

.image-background{
    display: flex;
    background-color: aliceblue;
    position: relative;
}

.image-background img {
    width: calc(100%);
    height: calc(30vh);
    position: relative;
}

/* Styling of the icon */

.profile-icon {
    position: absolute;
    left: calc(-2.7vw);
    border: 1px solid black;
    width: calc(14vw);
    bottom: calc(-13vh);
    transform: scale(0.5);
    border-radius: calc(50%);
}

/* Biography section of the profile page */

.biography {
    background-color: rgb(177, 215, 247);
    height: auto;
    border-bottom: 1px solid black;
    padding-bottom: calc(1vh);
}

.profile-name {
    display: flex;
    flex-direction: row;
    margin-left: calc(0.5vw);
    margin-top: calc(5vh);
    position: relative;
}

/* The menu icon for when the user is on his own page */
.menu-icon {
    position: absolute;
    right: calc(0vw);
    top: calc(-5vh);
    border-radius: calc(50%);
    padding-top: calc(0.2vh);
    padding-bottom: calc(0.2vh);
    transition: 0.3s;
}

.menu-icon:hover {
    background-color: none;
}

.follow-button, .followed-button {
    border: 2px solid rgb(0, 123, 255);
    border-radius: calc(6px);
    background: white;
    margin-left: calc(1vw);
    height: calc(4vh);
    width: calc(6vw);
    margin-top: calc(0.5vh);
    font-size: calc(1.1rem);
    transition: 0.2s;
    position: absolute;
    right: calc(0.5vw);
    top: calc(-4vh);
}

.followed-button {
    background-color: rgb(0, 123, 255);
    color: white;
}

.followed-button:hover {
    background: white;
    color: black;
    border: 2px solid rgb(0, 123, 255);
}

.followed-button:hover > .checked-icon {
    transition: 0.2s;
    color: black !important;
}

.checked-icon {
    color: white !important;
    transition: 0.2s;
}

.follow-button:hover {
    background: rgb(0, 123, 255);
    color: white;
    transition: 0.2s;
}

.follow-button:hover > .plus-icon {
    color: white;
    transition: 0.2s;
}

.plus-icon {
    transition: 0.2s;
}

.description {
    width: calc(25vw);
    margin-left: calc(0.5vw);
    display: flex;
    flex-direction: row;
    position: relative;
}

.edit-profile {
    margin-top: calc(1vh);
    transition: 0.2s;
}

.edit-profile:hover {
    color:rgb(0, 123, 255);
    transition: 0.2s;
}

.description p {
    font-size: calc(1.2vw);
}

/* Styling of the description box */

.followers {
    display: flex;
    flex-direction: row;
    margin-left: calc(0.5vw);
}

.followers h2 {
    font-size: calc(1vw);
    cursor: pointer;
}

.followers h2:hover {
    text-decoration: underline;
    color: rgb(54, 126, 221);
}

.followers span {
    width: calc(1.2vw);
}

/* Styling for the display of posts */

.list-posts {
    width: 100%;
    border: 1px solid black;
}
.list-posts li{
    display: inline-block;
}