/* THE OUTER MOST CONTAINER FOR THE TILE */

.tile-container {
    width: 100%;
    border-bottom: 1px solid white;
    position: relative;
    padding-bottom: calc(1.5vh);
}

/* STYLING FOR THE TILE */

/* Styling for author profile icon and name */

.tile-author {
    font-family: 'Lato', sans-serif;
    width: calc(100%);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.profile-link {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.1vw);
    width: auto;
    margin-top: calc(0.8vh);
    margin-left: calc(0.4vw);
}

.profile-link { 
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.profile-link:hover {
    color: rgb(148, 148, 148);
    text-decoration: underline;
    cursor: pointer;
}

/* Styling for the title and summary of the post */

.title-section, .summary-section {
    font-family: 'Merriweather', serif;
    width: auto;
    margin-top: calc(0.5vh);
    margin-left: calc(2vw); 
    color: white;
}

.title-section {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.title h3 {
    font-size: calc(1.2vw);
    text-overflow: ellipsis; /* will make [...] at the end */
    width: calc(37vw); /* change to your preferences */
    white-space: initial;
    overflow: hidden; /* older browsers */    
}

.summary h3 {
    font-size: calc(1vw);
    text-overflow: ellipsis; /* will make [...] at the end */
    width: calc(37vw); /* change to your preferences */
    white-space: nowrap;
    overflow: hidden; /* older browsers */
}