/* General layout for the page */
.users {
    background-color: rgb(212, 230, 247);
    min-height: calc(100vh);
    height: auto;
}

/* The layout of the top layer for nodes */
.users-layout {
    width: 100%;
    height: auto;
    min-height: calc(100vh);
    display: flex;
    justify-content: center;
}

/* The outer border line */
.border-line {
    width: 40%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.user-section {
    width: 100%;
    height: calc(8vh);
}

.user-tab button {
    background-color: rgba(41, 128, 209, 0.541);
    width: calc(50%);
    border: none;
    height: calc(6vh);
    border-bottom: 1px solid black;
    font-size: calc(1.5vw);
    color: black;
}

.user-tab button:focus {
    outline: 0;
    text-decoration: underline;
    background-color: rgba(41, 128, 209, 0.801);
}

.user-tab button:first-child {
    border-right: 1px solid black;
}

.user-tab button:hover {
    text-decoration: underline;
}

/* The goback button to return to profile page */
.profile-goback {
    position: absolute;
    left: calc(15vw);
    top: calc(10vh);
}

.profile-goback button {
    padding: calc(1vh);
    padding-left: calc(2vw);
    padding-right: calc(2vw);
    border: none;
    border-left: none;
    border-radius: calc(1rem);
    background-color: rgb(212, 230, 247);
    font-size: calc(1.1vw);
    transition: cubic-bezier(0.25, 0.35, 0.75, 1) 0.3s;
}

.profile-goback button:hover {
    background-color: rgb(0, 123, 255);
    color: white;
    transition: cubic-bezier(0.25, 0.35, 0.75, 1) 0.3s;
}

.profile-goback button:focus {
    outline: 0;
}